<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Simple Form Validation</title>
  </head>
  <body ng-controller="SignupController as ctrl">
    <h1>Simple Form Validation</h1>

    <fieldset>
      <legend>SIGNUP</legend>
      <form name='ctrlForm' novalidate>

        <input type="text" name="firstname" placeholder="Pick a firstname"
          ng-model="ctrl.user.firstname"
          required
          ng-maxlength="20">
          {{ ctrl.user.firstname }}
          <span
            ng-if="(ctrlForm.firstname.$error.required) && ctrlForm.firstname.$touched">
            firstname is required
          </span>
          <span ng-if="ctrlForm.firstname.$error.maxlength && ctrlForm.firstname.$touched">
            firstname must not be longer than 20 characters
          </span>
          <br>
		  
		  <input type="text" name="lastname" placeholder="Pick a lastname"
          ng-model="ctrl.user.lastname"
          required
          ng-maxlength="20">
          {{ ctrl.user.lastname }}
          <span
            ng-if="(ctrlForm.lastname.$error.required) && ctrlForm.lastname.$touched">
            lastname is required
          </span>
          <span ng-if="ctrlForm.lastname.$error.maxlength && ctrlForm.lastname.$touched">
            lastname must not be longer than 20 characters
          </span>
          <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="ctrl.user.email"
          required>
          <span ng-if="ctrlForm.email.$invalid && ctrlForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="ctrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="ctrlForm.phone.$invalid && ctrlForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

		   <input type="text" name="menunumber" placeholder="selec menu"
          ng-model="ctrl.user.menunumber"
          required
          ng-maxlength="20">
          {{ ctrl.user.menunumber }}
          <span
            ng-if="(ctrlForm.menunumber.$error.required) && ctrlForm.menunumber.$touched">
            menunumber is required
          </span>
          <span ng-if="ctrlForm.menunumber.$error.maxlength && ctrlForm.menunumber.$touched">
            menunumber must not be longer than 20 characters
          </span>
          <br>
		  
        <button
          ng-disabled="ctrlForm.$invalid"
          ng-click="ctrl.submit(ctrlForm)">Submit</button>

          <div style="margin-top: 10px;">
            Form valid? {{ ctrlForm.$valid }}
          </div>
      </form>
    </fieldset>

    <div id="info" ng-if="ctrl.completed">
      firstname: {{ ctrl.user.firstname}} <br>
      Email: {{ ctrl.user.email}} <br>
      Phone: {{ ctrl.user.phone }}
    </div>


  </body>
</html>
