<div class="container" 

ng-if="!regiControl.isRegistered() || 
regiControl.completed == true">

<form name='registerForm' novalidate>

           <input type="text" name="lastname" placeholder="Enter Last-Name"
            ng-model="regiControl.user.lastname"
            required
            minlength="4"
            size="40"
            ng-maxlength="15">
            <span
              ng-if="(registerForm.lastname.$error.minlength || registerForm.lastname.$error.required) && (registerForm.lastname.$touched || registerform.submitted)">
              Last-Name must be at least 4 characters long!!
            </span>
            <span ng-if="registerForm.lastname.$error.maxlength && registerForm.lastname.$touched">
              Last-Name must not be longer than 15 characters!!
            </span>
            <br>

        <input type="text" name="firstname" placeholder="Enter First-Name"
          ng-model="regiControl.user.firstname"
          required
          minlength="4"
          size="40"
          ng-maxlength="25">
          <span
            ng-if="(registerForm.firstname.$error.minlength || registerForm.firstname.$error.required) && registerForm.firstname.$touched">
            firstname must be at least 4 characters long!!
          </span>
          <span ng-if="registerForm.firstname.$error.maxlength && registerForm.firstname.$touched">
            firstname must not be longer than 25 characters!!
          </span>
          <br>
      
            <input type="text" required name="phone" size="40" placeholder="Enter Phone"
          ng-model="regiControl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="registerForm.phone.$invalid && registerForm.phone.$touched">
            Phone number is required and with mask ###-###-####.!!
          </span>
           <span
            ng-if="(registerForm.phone.$error.required) && registerForm.firstname.$touched">
            
          </span>
          <br>
        
        <input type="email" size="40" name="email" placeholder="Enter mail"
          ng-model="regiControl.user.email"
          required>
          <span ng-if="registerForm.email.$invalid && registerForm.email.$touched">
            Must be a valid email address: (sample : name@tonline.com)
          </span>
          <br>

          <input type="text" name="dish" size="40" placeholder="Favorite Dish CODE (shortname)"
            ng-model="regiControl.user.dish">
            <span ng-if="regiControl.DishMessage != ''">
              {{regiControl.DishMessage}}
            </span>
            <br>

        <button  ng-disabled="registerForm.$invalid"ng-click="regiControl.submit()">REGISTER NOW</button>
          <div style="margin-top: 10px;" 
          ng-if="regiControl.completed == true">
            information is now saved : OK
          </div>
      </form>
</div>

<div class="container" ng-if=" !regiControl.completed && regiControl.isRegistered() ">
  <div class="">
    nice to meet you again, welcome back!! {{regiControl.getUser().firstname}} {{regiControl.getUser().lastname}}
    <div class="email">
    email is: {{regiControl.getUser().email}}
    </div>
    <div class="phone">
    phone number is:  {{regiControl.getUser().phone}}
    </div>
  </div>
  <h3>favorite dish is:</h3>
  <menu-item menu-item="regiControl.getFavoriteDish()"></menu-item>
</div>