body {
  font-size: 1.8em;
}
input {
  font-size: 20px;
  margin-bottom: 10px;
}
button {
  font-size: 24px;
}

.ng-touched.ng-valid {
  border: 2px blue solid;
}

.ng-touched.ng-invalid {
  border: 2px brown solid;
}

#info {
  margin-top: 20px;
}
input {
    -webkit-appearance: textfield;
    background-color: green;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
